.container__small-card{
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  border-radius: 10px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1:hover  {
  transform: scale(1.05);
  color: gray;
}

.small-card__title > h1 > a:hover  {
  color: gray;
}

.container__small-card__separator{
  margin-top: 10px;
}
