<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="../../../assets/img/soupjoumou.jpg"
      cardTitle="Sopa de Abóbora"
      cardDescription="Sopa de Abóbora é consumida em uma época específica do ano"
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Arroz com frango"
      photoCover="../../../assets/img/diriakpoul.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Arroz com Laloe"
      photoCover="../../../assets/img/dirilalo.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Tonmtonm com molho de Quiabo"
      photoCover="../../../assets/img/tonmtonm.jpg"
    >
    </app-small-card>
  </div>
</div>
